.App {
  height: 100vh;
  width: max-content;

  display: flex;
  text-align: center;
  align-items: center;
}

.card {
  padding: 24px;
}

.btn-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12px;
}

